.page-header {
  max-height: 600px;

  &::after {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent);
  }

  &__title {
    br {
      display: none;

      @include breakpoint($t-screens-lg) {
        display: block;
      }
    }
  }
}
