{% set page_header_attributes = page_header_attributes|default(create_attribute()).addClass([
  "page-header",
  "u-breakout",
  "u-overflow-hidden",
  "u-relative",
]) %}

<div {{ page_header_attributes }}>
  <div class="page-header__image">
    {{ image }}
  </div>

  <div class="container page-header__title u-absolute u-bottom-0 u-text-white u-w-full u-z-1 u-pb-5 md:u-pb-10">
    {% include "@atoms/heading/heading.twig" with {
      heading_level: 1,
      heading_size: 2,
      heading: heading,
      attributes: heading_attributes,
    } only %}
  </div>
</div>
