# Ignore files that are generated automatically.
dist
!dist/img/favicons/**
vendor
libraries
storybook/static
tokens/tokens.css
tokens/tokens.js
tokens/tokens.scss

# NPM
node_modules
npm-debug.log

.DS_Store
.idea
