.rich-text {
  // The designs show an 'intro' paragraph style that's larger than the rest of the text.
  // We could stick with `first-of-type` for this, or remove that rule and instead
  // configure CKEditor to allow using the `lead` class within the WYSIWYG.
  .lead,
  & > p:first-of-type {
    font-size: $t-font-size-lg;
    line-height: $t-font-size-lg-line-height;

    @include breakpoint($t-screens-xl) {
      font-size: $t-font-size-xxl;
      line-height: $t-font-size-xxl-line-height;
    }

    @include breakpoint($t-screens-xxl) {
      font-size: $t-font-size-2xl;
      line-height: $t-font-size-2xl-line-height;
    }
  }
}
