.rich-text {
  // The designs show an 'intro' paragraph style that's larger than the rest of the text.
  // We could stick with `first-of-type` for this, or remove that rule and instead
  // configure CKEditor to allow using the `lead` class within the WYSIWYG.
  .lead,
  &:not(.rich-text--no-first-of-type-lead) > p:first-of-type {
    font-size: $t-font-size-lg;
    line-height: $t-font-size-lg-line-height;

    @include breakpoint($t-screens-xl) {
      font-size: $t-font-size-xxl;
      line-height: $t-font-size-xxl-line-height;
    }

    @include breakpoint($t-screens-xxl) {
      font-size: $t-font-size-2xl;
      line-height: $t-font-size-2xl-line-height;
    }
  }

  // We use the tailwind-typography plugin to provide a set of base styles, but we add the
  // responsive variants ourselves. This makes making overrides easier as the Tailwind
  // plugin would otherwise add a lot of responsive styles that we do not want.
  // The double use of .rich-text is to ensure that our classes are more specific than the
  // classes typography by the tailwind-typography plugin.
  &.rich-text {
    @include breakpoint($t-screens-xl) {
      hr {
        margin-top: $t-spacing-9;
        margin-bottom: $t-spacing-9;
      }
    }
  }
}
