.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;

  @include breakpoint($t-screens-sm) {
    max-width: 540px;
  }
  @include breakpoint($t-screens-md) {
    max-width: 720px;
  }
  @include breakpoint($t-screens-lg) {
    max-width: 960px;
  }
  @include breakpoint($t-screens-xl) {
    max-width: 1140px;
  }
  @include breakpoint($t-screens-xxl) {
    max-width: 1440px;
  }
}
