<div class="u-space-y-5">
  <div class="container u-px-bs-grid">
    <div class="u-grid u-grid-flow-col u-grid-cols-auto u--mx-bs-grid">
      <div class="u-px-bs-grid u-bg-black u-text-white">Column</div>
      <div class="u-px-bs-grid u-bg-off-white u-text-black">Column</div>
      <div class="u-px-bs-grid u-bg-black u-text-white">Column</div>
    </div>
  </div>

  <div class="container u-px-bs-grid">
    <div class="u-grid u-grid-flow-col u-grid-cols-auto u--mx-bs-grid">
      <div class="u-px-bs-grid u-bg-black u-text-white">Column</div>
      <div class="u-px-bs-grid u-bg-off-white u-text-black">Column</div>
    </div>
  </div>

  <div class="container u-px-bs-grid">
    <div class="u-grid u-grid-flow-col u-grid-cols-3 u--mx-bs-grid">
      <div class="u-px-bs-grid u-bg-black u-text-white u-col-span-2">Column</div>
      <div class="u-px-bs-grid u-bg-off-white u-text-black">Column</div>
    </div>
  </div>

  <div class="container u-px-bs-grid">
    <div class="u-grid u-grid-cols-1 lg:u-grid-cols-2 xl:u-grid-cols-3 u--mx-bs-grid">
      <div class="u-px-bs-grid u-bg-black u-text-white">Column</div>
      <div class="u-px-bs-grid u-bg-off-white u-text-black">Column</div>
      <div class="u-px-bs-grid u-bg-black u-text-white">Column</div>
      <div class="u-px-bs-grid u-bg-off-white u-text-black">Column</div>
      <div class="u-px-bs-grid u-bg-black u-text-white">Column</div>
      <div class="u-px-bs-grid u-bg-off-white u-text-black">Column</div>
    </div>
  </div>

</div>
