<div class="u-space-y-20 u-my-10">
  <div class="container u-space-y-10">
    <div class="u-grid u-grid-flow-col u-grid-cols-auto">
      <div class="u-px-bs-grid u-bg-black u-text-white">Column</div>
      <div class="u-px-bs-grid u-bg-off-white u-text-black">Column</div>
      <div class="u-px-bs-grid u-bg-black u-text-white">Column</div>
    </div>
    <div class="u-breakout u-bg-primary u-text-white u-py-5 u-px-3">
      <p>Breakout using <code>.u-breakout</code></p>
    </div>
    <div class="u-grid u-grid-flow-col u-grid-cols-auto">
      <div class="u-px-bs-grid u-bg-black u-text-white">Column</div>
      <div class="u-px-bs-grid u-bg-off-white u-text-black">Column</div>
      <div class="u-px-bs-grid u-bg-black u-text-white">Column</div>
    </div>
  </div>

  <hr>

  <div class="container u-space-y-10">
    <div class="u-grid u-grid-flow-col u-grid-cols-auto">
      <div class="u-px-bs-grid u-bg-black u-text-white">Column</div>
      <div class="u-px-bs-grid u-bg-off-white u-text-black">Column</div>
    </div>
    <div class="u-bg-black u-text-white u-p-5 u-space-y-2">
      <p>Example of where breakout is needed but it's not an immediate child of the grid</p>
      <div class="u-bg-primary u-text-white u-breakout-child u-p-3">
        <p>Breakout using <code>.u-breakout-child</code></p>
      </div>
    </div>
    <div class="u-grid u-grid-flow-col u-grid-cols-auto">
      <div class="u-px-bs-grid u-bg-black u-text-white">Column</div>
      <div class="u-px-bs-grid u-bg-off-white u-text-black">Column</div>
    </div>
  </div>

  <hr>

  <div class="container">
    <div class="u-grid u-grid-flow-col u-grid-cols-3">
      <div class="u-px-bs-grid u-bg-black u-text-white u-col-span-2">Column</div>
      <div class="u-px-bs-grid u-bg-off-white u-text-black">Column</div>
    </div>
  </div>

  <hr>

  <div class="container">
    <div class="u-grid u-grid-cols-1 lg:u-grid-cols-2 xl:u-grid-cols-3">
      <div class="u-px-bs-grid u-bg-black u-text-white">Column</div>
      <div class="u-px-bs-grid u-bg-off-white u-text-black">Column</div>
      <div class="u-px-bs-grid u-bg-black u-text-white">Column</div>
      <div class="u-px-bs-grid u-bg-off-white u-text-black">Column</div>
      <div class="u-px-bs-grid u-bg-black u-text-white">Column</div>
      <div class="u-px-bs-grid u-bg-off-white u-text-black">Column</div>
    </div>
  </div>

</div>
