// Remove all animations and transitions for people that prefer not to see them.
@media (prefers-reduced-motion: reduce) {
  * {
    transition-delay: 0.01ms !important;
    transition-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    animation-delay: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}

// Remove focus styling from elements that are only programmatically focusable.
[tabindex="-1"]:focus {
  outline: none !important;
  box-shadow: none !important;
}

// Remove focus styling when the input mode is mouse or touch.
html[data-whatintent="mouse"],
html[data-whatintent="touch"] {
  *,
  input,
  select,
  textarea,
  iframe,
  a[href],
  button {
    &:focus {
      outline: 0 !important;
      box-shadow: none !important;
    }
  }

  [data-hide-from-mouse-input] {
    display: none;
  }
}
