.form-input.error,
.form-textarea.error,
.form-select.error {
  background-image: url("../src/icons/gla/close-circle.svg");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 1.5em 1.5em;
}

.form-checkbox:checked,
.form-radio:checked {
  border-color: $t-colors-transparent !important;
}
