.heading {
  font-weight: bold;
}

.heading--xl {
  letter-spacing: $t-font-size-6xl-letter-spacing;
  font-size: $t-font-size-6xl;
  line-height: $t-font-size-6xl-line-height;

  @include breakpoint($t-screens-xl) {
    letter-spacing: $t-font-size-8xl-letter-spacing;
    font-size: $t-font-size-8xl;
    line-height: $t-font-size-8xl-line-height;
  }

  @include breakpoint($t-screens-xxl) {
    letter-spacing: $t-font-size-9xl-letter-spacing;
    font-size: $t-font-size-9xl;
    line-height: $t-font-size-9xl-line-height;
  }
}

.heading--1 {
  letter-spacing: $t-font-size-5xl-letter-spacing;
  font-size: $t-font-size-5xl;
  line-height: $t-font-size-5xl-line-height;

  @include breakpoint($t-screens-xl) {
    letter-spacing: $t-font-size-6xl-letter-spacing;
    font-size: $t-font-size-6xl;
    line-height: $t-font-size-6xl-line-height;
  }

  @include breakpoint($t-screens-xxl) {
    letter-spacing: $t-font-size-7xl-letter-spacing;
    font-size: $t-font-size-7xl;
    line-height: $t-font-size-7xl-line-height;
  }
}

.heading--2 {
  letter-spacing: $t-font-size-4xl-letter-spacing;
  font-size: $t-font-size-4xl;
  line-height: $t-font-size-4xl-line-height;

  @include breakpoint($t-screens-xl) {
    letter-spacing: $t-font-size-5xl-letter-spacing;
    font-size: $t-font-size-5xl;
    line-height: $t-font-size-5xl-line-height;
  }

  @include breakpoint($t-screens-xxl) {
    letter-spacing: $t-font-size-6xl-letter-spacing;
    font-size: $t-font-size-6xl;
    line-height: $t-font-size-6xl-line-height;
  }
}

.heading--3 {
  letter-spacing: $t-font-size-3xl-letter-spacing;
  font-size: $t-font-size-3xl;
  line-height: $t-font-size-3xl-line-height;

  @include breakpoint($t-screens-xl) {
    letter-spacing: $t-font-size-4xl-letter-spacing;
    font-size: $t-font-size-4xl;
    line-height: $t-font-size-4xl-line-height;
  }

  @include breakpoint($t-screens-xxl) {
    letter-spacing: $t-font-size-5xl-letter-spacing;
    font-size: $t-font-size-5xl;
    line-height: $t-font-size-5xl-line-height;
  }
}

.heading--4 {
  letter-spacing: $t-font-size-2xl-letter-spacing;
  font-size: $t-font-size-2xl;
  line-height: $t-font-size-2xl-line-height;

  @include breakpoint($t-screens-xl) {
    letter-spacing: $t-font-size-3xl-letter-spacing;
    font-size: $t-font-size-3xl;
    line-height: $t-font-size-3xl-line-height;
  }

  @include breakpoint($t-screens-xxl) {
    letter-spacing: $t-font-size-4xl-letter-spacing;
    font-size: $t-font-size-4xl;
    line-height: $t-font-size-4xl-line-height;
  }
}

.heading--5 {
  letter-spacing: $t-font-size-xl-letter-spacing;
  font-size: $t-font-size-xl;
  line-height: $t-font-size-xl-line-height;

  @include breakpoint($t-screens-xl) {
    letter-spacing: $t-font-size-2xl-letter-spacing;
    font-size: $t-font-size-2xl;
    line-height: $t-font-size-2xl-line-height;
  }

  @include breakpoint($t-screens-xxl) {
    letter-spacing: $t-font-size-3xl-letter-spacing;
    font-size: $t-font-size-3xl;
    line-height: $t-font-size-3xl-line-height;
  }
}
