// .h1, .h2 font-size classes are created by Typi in
// components/00-base/_text.scss.

@for $i from 1 through 6 {
  .h#{$i},
  .rich-text h#{$i} {
    font-weight: bold;
  }

  .rich-text {
    h#{$i} {
      $heading-level: "h#{$i}";
      @include typi($heading-level);
    }
  }
}

.hxl {
  @include typi("hxl");

  letter-spacing: $t-font-size-6xl-letter-spacing;
  font-weight: bold;

  @include breakpoint($t-screens-xl) {
    letter-spacing: $t-font-size-8xl-letter-spacing;
  }

  @include breakpoint($t-screens-xxl) {
    letter-spacing: $t-font-size-9xl-letter-spacing;
  }
}

.h1,
.rich-text h1 {
  letter-spacing: $t-font-size-5xl-letter-spacing;

  @include breakpoint($t-screens-xl) {
    letter-spacing: $t-font-size-6xl-letter-spacing;
  }

  @include breakpoint($t-screens-xxl) {
    letter-spacing: $t-font-size-7xl-letter-spacing;
  }
}

.h2,
.rich-text h2 {
  letter-spacing: $t-font-size-4xl-letter-spacing;

  @include breakpoint($t-screens-xl) {
    letter-spacing: $t-font-size-5xl-letter-spacing;
  }

  @include breakpoint($t-screens-xxl) {
    letter-spacing: $t-font-size-6xl-letter-spacing;
  }
}

.h3,
.rich-text h3 {
  letter-spacing: $t-font-size-3xl-letter-spacing;

  @include breakpoint($t-screens-xl) {
    letter-spacing: $t-font-size-4xl-letter-spacing;
  }

  @include breakpoint($t-screens-xxl) {
    letter-spacing: $t-font-size-5xl-letter-spacing;
  }
}

.h4,
.rich-text h4 {
  letter-spacing: $t-font-size-2xl-letter-spacing;

  @include breakpoint($t-screens-xl) {
    letter-spacing: $t-font-size-3xl-letter-spacing;
  }

  @include breakpoint($t-screens-xxl) {
    letter-spacing: $t-font-size-4xl-letter-spacing;
  }
}

.h5,
.rich-text h5 {
  letter-spacing: $t-font-size-xl-letter-spacing;

  @include breakpoint($t-screens-xl) {
    letter-spacing: $t-font-size-2xl-letter-spacing;
  }

  @include breakpoint($t-screens-xxl) {
    letter-spacing: $t-font-size-3xl-letter-spacing;
  }
}
