.rich-text a,
.u-styled-links a,
.u-styled-link {
  font-weight: bold;

  &:hover,
  &:focus {
    text-decoration: underline;
    text-decoration-thickness: unquote("max(1px, .125rem)");
    text-decoration-style: solid;
    text-underline-offset: 0.2em;
    text-decoration-color: $t-colors-pink;
  }

  &:active {
    text-decoration-color: $t-colors-dark-pink;
  }
}
