{% set id = id|default(date().timestamp) %}
{% set attributes = attributes|default(create_attribute()) %}

{% set attributes = attributes
  .addClass([
    'cta',
    'cta--image',
    'u-breakout sm:u-unbreakout',
    'u-bg-grey u-text-white',
    'lg:u-flex',
    reverse_layout ? 'lg:u-flex-row-reverse',
  ])
%}

<div {{ attributes }}>
  <div class="cta__image-container lg:u-w-1/2">
    {{ image_content }}
  </div>

  <div class="lg:u-w-1/2 u-px-grid-gutter u-py-7 u-space-y-5 sm:u-px-12 sm:u-py-14 md:u-px-7 md:u-py-20 lg:u-px-10 lg:u-py-5 lg:u-flex lg:u-flex-col lg:u-justify-center lg:u-mx-auto xl:u-px-12 xl:u-space-y-6">
    {% include "@atoms/heading/heading.twig" with {
      heading_level: 3,
      heading_size: 2,
      heading_content: heading,
      omit_base_class: true,
      attributes: create_attribute()
        .addClass([
          'u-font-bold u-text-4xl xl:u-text-5xl xxl:u-text-6xl',
        ])
        .setAttribute('id', 'cta-' ~ id)
    } %}

    {% if content %}
      <p class="u-leading-26 u-text-sm u-max-w-prose lg:u-line-clamp-3 xl:u-line-clamp-none xl:u-text-base xl:u-leading-28 xxl:u-text-lg">
        {{ content }}
      </p>
    {% endif %}

    {% if button_url %}
      {% include "@atoms/button/button.twig" with {
        button_content: button_content,
        button_url: button_url,
        button_type: 'simple',
        attributes: create_attribute()
          .addClass([
            'u-w-full',
          ])
          .setAttribute('aria-describedby', 'cta-' ~ id)
      } only %}
    {% endif %}
    </div>
</div>
