.btn {
  display: inline-block;
  padding-top: $t-spacing-3-5;
  padding-right: $t-spacing-7;
  padding-bottom: $t-spacing-3-5;
  padding-left: $t-spacing-7;
  user-select: none;
  text-align: center;
  // @TODO replace this with a variable once we have figured out
  // all the possible line-height values used in the site.
  letter-spacing: -0.24px;
  border: 2px solid $t-colors-primary;
  border-radius: $t-border-radius-6;
  font-size: $t-font-size-base;
  font-weight: $t-font-weight-bold;
  line-height: $t-line-height-21;

  &:hover,
  &:focus {
    color: $t-colors-white;
    background-color: $t-colors-primary;
  }
}

.btn.btn--white {
  color: $t-colors-white;
  border-color: $t-colors-white;

  &:hover,
  &:focus {
    color: $t-colors-primary;
    background-color: $t-colors-white;
  }
}

.btn.btn--solid {
  color: $t-colors-white;
  border-color: $t-colors-primary;
  background-color: $t-colors-primary;

  &:hover,
  &:focus {
    text-decoration: underline;
    color: $t-colors-white;
    border-color: $t-colors-primary-dark;
    background-color: $t-colors-primary-dark;
    text-decoration-thickness: 2px;
    text-decoration-style: solid;
    text-underline-offset: 3px;
  }
}
