// Note that buttons intentionally always use the pink colour (for consistency)
// even if they are being used in Assembly content.
.btn {
  display: inline-block;
  padding: $t-spacing-3-5 $t-spacing-6;
  user-select: none;
  text-align: center;
  letter-spacing: -0.24px;
  border: 2px solid $t-colors-pink;
  border-radius: $t-border-radius-6;
  font-size: $t-font-size-base;
  font-weight: $t-font-weight-bold;
  line-height: $t-line-height-21;

  &:hover,
  &:focus {
    color: $t-colors-white;
    background-color: $t-colors-pink;
  }
}

.btn.btn--white {
  color: $t-colors-white;
  border-color: $t-colors-white;

  &:hover,
  &:focus {
    color: $t-colors-pink;
    background-color: $t-colors-white;
  }
}

.btn.btn--solid {
  color: $t-colors-white;
  border-color: $t-colors-pink;
  background-color: $t-colors-pink;

  &:hover,
  &:focus {
    text-decoration: underline;
    color: $t-colors-white;
    border-color: $t-colors-pink-dark;
    background-color: $t-colors-pink-dark;
    text-decoration-thickness: 2px;
    text-decoration-style: solid;
    text-underline-offset: 3px;
  }
}
