{{ attach_library('gla_core_theme/hero-header') }}

{% set attributes = attributes|default(create_attribute()).addClass([
  'hero-header u-breakout u-overflow-hidden u-relative u-bg-grey',
  height == 'half' ? 'hero-header--half' : 'hero-header--full',
  theme == 'dark' ? 'hero-header--dark u-text-white' : 'hero-header--light u-text-black'
]).setAttribute('x-data', 'heroHeader()')
%}

<div {{ attributes }}>
  {% if has_video %}
    <div class="u-h-1.5 u-bg-primary u-absolute u-z-1 u-origin-top-left u-w-full u-transition-transform" :style="`transform: scaleX(${percentageCompleted})`"></div>
  {% endif %}

  {% if media %}
    <div class="hero-header__media u-h-full u-w-full u-absolute lg:u-relative">
      {{ media }}
    </div>
  {% endif %}

  <div class="container hero-header__content u-absolute u-bottom-0 u-w-full u-h-full u-z-1">
    <div class="u-flex u-flex-col u-justify-center">
      {% if has_video %}
        <div class="u-absolute u-right-2 u-top-2 md:u-right-10 md:u-top-10 u-text-white">
          {% include "@atoms/media-control/media-control.twig" with {
            attributes: create_attribute()
              .setAttribute('x-cloak', '')
              .setAttribute(':aria-label', "videoIsPlaying ? 'Pause' : 'Play'")
              .setAttribute('@click', 'toggleVideoPlayback()'),
            pause_attributes: create_attribute().setAttribute('x-show', "videoIsPlaying"),
            play_attributes: create_attribute().setAttribute('x-show', "!videoIsPlaying")
          } only %}
        </div>
      {% endif %}
      <div class="u-space-y-5 u-max-w-rich-text-px">
        {% include "@atoms/heading/heading.twig" with {
          heading_level: 1,
          heading_size: 2,
          heading: heading,
          attributes: heading_attributes,
        } only %}
        {{ content }}
      </div>
    </div>
  </div>
</div>
